<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <title>Spitter</title>
    <link rel="stylesheet" 
          type="text/css" 
          th:href="@{/resources/style.css}"/>
  </head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 style="color:red;">Wrong!</h1><br/>
		<div sec:authorize="isAuthenticated()">
			Hello <span sec:authentication="name">someone</span>
		</div>
	<a th:href="@{/spitter/main}">ReLogin</a>
</body>
</html>